C.U.B.0/Assets/Stylizer/Resources/SpaceScene/Textures/Planet.psd
C.U.B.0/Assets/Stylizer/Resources/Mountains/Textures/DiffuseA.psd
C.U.B.0/Assets/Stylizer/Resources/SpaceScene/Textures/Planet.psd.meta
C.U.B.0/Assets/Stylizer/Resources/Mountains/Textures/DiffuseA.psd.meta
C.U.B.0/Assets/Stylizer/Resources/SpaceScene/Textures/PlanetNormal.psd
C.U.B.0/Assets/Stylizer/Resources/SpaceScene/Textures/PlanetNormal.psd.meta
